*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:sans-serif;
}

body{
    background-color: #001014;
}

header{
    background-color:  #4f2e1b;
    padding: 5px 10px;
}

.contenedor_encabezado{
    display: grid;
    grid-template-rows: 35px;
    grid-template-columns: 1fr 4fr 2fr;
    align-items:stretch;
    justify-items: center;
    grid-gap: 5px;
}

.contenedor_logo_g1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 90%;
}

.contenedor_logo_g1:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_logo{
    width: auto;
    height: 100%;
    border-radius: 100%;
    align-content: center;
    }

.texto_logo{
    align-content: center;
    color:#eceff1;
}

.contenedor_buscador_g2 {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px;
    width: 90%;
    height: 90%;
}

.icon {
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: #5f6368;
}

.busqueda {
    flex: 1;
    border: none;
    outline: none;
    padding: 0px;
}

.lupa {
    margin-right: 10px;
}

.micro, .camara {
    margin-left: 10px;
}

.contenedor_links_g3{
    display: grid;
    gap: 5px;
    width: 100%;
    height: 90%;
    align-items: center;

}

.contenedor_links_g3 ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.contenedor_links_g3 li{
    list-style: none;
    background-color: #8ebd52;
    border-radius: 4px;
    text-align: center;
    align-content: center;
}

.contenedor_links_g3 li:hover{
    transform: scale(1.1);
}

.contenedor_links_g3 a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
    align-items:stretch;
    justify-items: center;
}

.contenedor_links_g3 a:hover{
    color: #77e073;
}

.bienvenida{
    display: grid;
    grid-template-rows:800px;
    grid-template-columns: 3fr 2fr;
    align-items:stretch;
    justify-items: center;
    gap: 5px;
    padding: 5px;
}

.bienvenida_izq{
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 70%;
    padding: 10px;
    gap: 5px;
    color: #fff;
}

.bienvenida_izq span{
    font-size: 30px;

}

.bienvenida_izq h1{
    font-size: 40px;

}

.bienvenida_izq p{
    font-weight: bold;
    color: rgb(22, 32, 165);
}

.suscribete{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.text_Suscribete{
    font-size: 20px;
    color: #fff;
}

.boton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.boton button{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: aqua;
    border-radius: 20px;
    align-items: center;
}

.bienvenida_izq input{
    width: 100%;
    border-radius: 20px;
    border: 5px solid #fff;
    height: 50px;
}

.img_Bienvenida{
    width: 100%;
    height: 100%;
}

.Categorias{
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-items: center;
}

.Categorias h1{
    color: #fff;
    text-decoration: solid;
}

.grid_categorias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    width: 50%;
}

.categoria{
    display: flex;
    border: 5px solid #fff;
    border-radius: 5%;
    padding: 5px;
}

.grid_categorias img{
    height: 200px;
    border-radius: 5%;
}

.text_categoria{
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-content: center;
    width: 50%;
    color: #fff;
    align-items: end;
}

.text_categoria a{
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(22, 32, 165);
}

.text_categoria p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.Conecta{
    display: grid;
    grid-template-rows:500px;
    grid-template-columns: 2fr 2fr;
    align-items:center;
    justify-items: start;
    gap: 5px;
    padding: 25px;
}

.img_conecta {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: end;
    width: 80%;
}

.img_conecta img{
    height: 450px;
}

.text_conecta{
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: end;
    justify-items: start;
    color: #eceff1;
    width: 80%;
}

.text_conecta h2{
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(22, 32, 165);
}
